.nav-dialog{
	z-index: inherit;
	min-width: 30%;
	max-width: 120px;
	min-height: 80px;
	max-height: 200px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    text-align: center;
    transform: scale(1); transition: transform 200ms;
    border:5px solid white;
    padding-top: 2%;
}
ã€‚nav-dialog>span{
	width: 100%;
	font-size: 16px;
}
